PORT=4000
FORK_PORT=8546
SOLVER_CHAIN_IDS=1,8453,42161,10,137,792703809
EXECUTION_MODE=fork
SOLVER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

REDIS_URL=redis://127.0.0.1:6379

QUOTE_TTL_MS=30000
RISK_BPS=10
SERVICE_BPS=8
APP_BPS=0

DFLOW_API_KEY=
DFLOW_QUOTE_ENDPOINT=https://quote-api.dflow.net
JUPITER_API_KEY=
JUPITER_ULTRASWAP_ENDPOINT=https://api.jup.ag/ultra/v1
